#==============================================================================
# Environment Variables
# Only used in Development. It is NOT used in Heroku (Staging or Production)
#==============================================================================

REACT_APP_NODE_ENV=development

REACT_APP_ENABLE_DB=true

# Default design type and name
REACT_APP_DESIGN_TYPES=["Piston-Cylinder","Solid","Spring/Compression","Spring/Extension","Spring/Torsion"]
REACT_APP_DESIGN_TYPE=Spring/Compression
REACT_APP_DESIGN_NAME=Startup
REACT_APP_DESIGN_UNITS=US
REACT_APP_DESIGN_VIEW=Advanced

# Session variables
REACT_APP_SESSION_REFRESH=3600

# Google Analytics
REACT_APP_ENABLE_ANALYTICS=true
REACT_APP_GA_ID='G-XXXXXXXXXX'
REACT_APP_GA_ADS_ID='AW-XXXXXXXXX'
REACT_APP_GA_CONVERSION_EVENT='AW-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
