#==============================================================================
# Environment Variables
# Only used in Development. It is NOT used in Heroku (Staging or Production)
#==============================================================================

NODE_ENV=development

# Database Production (prntcdsszgqddxh8)
# @@@ PUT PRODUCTION DATABASE URL HERE @@@
# Database Staging (d9bw76r236auqu3s)
# @@@ PUT STAGING DATABASE URL HERE @@@
# Database Test (cmyr2m3s55btzgvr)
# @@@ PUT TEST DATABASE URL HERE @@@
# Database Develoment (s6v0edrsu4v1u49m)
# @@@ PUT DEVELOPMENT DATABASE URL HERE @@@

# Database for localhost development use s6v0edrsu4v1u49m
JAWSDB_URL=@@@ PUT DEVELOPMENT DATABASE URL HERE @@@
JAWSDB_TEST_URL=@@@ PUT TEST DATABASE URL HERE @@@

TEST_USERID=@@@ PUT TEST USERID HERE @@@
TEST_PASSWORD=@@@ PUT TEST PASSWORD HERE @@@

# URL Prefix
FRONT_URL=http://localhost:3000

# Production MySQL Parameters
MYSQL_HOST=<Database-Host>
MYSQL_PORT=<Database-Port>
MYSQL_DATABASE=<Database-Name>
MYSQL_USER=<User-Id>
MYSQL_PASSWORD=<User-Password>

# Test MySQL Parameters
MYSQL_TEST_HOST=<Database-Host>
MYSQL_TEST_PORT=<Database-Port>
MYSQL_TEST_DATABASE=<Database-Name>
MYSQL_TEST_USER=<User-Id>
MYSQL_TEST_PASSWORD=<User-Password>

# Outgoing SMTP Email Info
SMTP_HOST=<SMTP-Host>
SMTP_PORT=<SMTP-Port>
SMTP_USER=<SMTP-User>
SMTP_PASS=<SMTP-Password>

# Session Info
SESSION_SECRET=<Session-Secret>

