REM *** Production ***
SET type=production
SET user=@@@ PUT DATABASE USER HERE @@@
SET password=@@@ PUT DATABASE PASSWORD HERE @@@
SET host=@@@ PUT DATABASE HOST HERE @@@
SET database=@@@ PUT DATABASE NAME HERE @@@
REM *** Staging ***
REM *** Test ***
REM *** Development ***
REM

@echo off
(
  ECHO use %database%; 
  ECHO select
  ECHO     NOW(),
  ECHO     s.schema_name
  ECHO     ,sp.grantee user
  ECHO     ,cast(round(sum(coalesce(t.data_length + t.index_length, 0)) / 1024 / 1024, 3) as char) db_size_mb
  ECHO     ,sp.has_insert
  ECHO from
  ECHO     information_schema.schemata s
  ECHO     inner join
  ECHO     information_schema.tables t on s.schema_name = t.table_schema
  ECHO     inner join (
  ECHO         select
  ECHO             spi.grantee
  ECHO             ,spi.table_schema
  ECHO             ,max(
  ECHO                 case
  ECHO                     when spi.privilege_type = 'INSERT' then 1
  ECHO                     else 0
  ECHO                 end
  ECHO             ) has_insert
  ECHO         from
  ECHO             information_schema.schema_privileges spi
  ECHO         group by
  ECHO             spi.grantee
  ECHO             ,spi.table_schema
  ECHO     ) sp on s.schema_name = sp.table_schema
  ECHO group by
  ECHO     s.schema_name
  ECHO     ,sp.grantee
  ECHO     ,sp.has_insert;
) > db_size.txt
mysql --user=%user% --password=%password% --host=%host% < db_size.txt
DEL db_size.txt
  