REM Hard coded for Info@SpringDesignSoftware Okta User '00u1g7vr21d7yajY4357'

REM Production
REM Staging
REM Test
REM Development

SET type=Development
SET user="@@@ PUT DATABASE USER HERE @@@"
SET password="@@@ PUT DATABASE PASSWORD HERE @@@"
SET host="@@@ PUT DATABASE HOST HERE @@@"
SET database="@@@ PUT DATABASE NAME HERE @@@"
SET oktauserid=00u1g7vr21d7yajY4357

mysqldump --user=%user% --password=%password% --host=%host% %database% design --complete-insert --no-create-info --compact --no-tablespaces --set-gtid-purged=OFF --where="(user='%oktauserid%' AND type='Piston-Cylinder' AND name='Startup') OR (user='%oktauserid%' AND type='Piston-Cylinder' AND name='Startup_Metric')" > designtypes/Piston-Cylinder/load.sql

mysqldump --user=%user% --password=%password% --host=%host% %database% design --complete-insert --no-create-info --compact --no-tablespaces --set-gtid-purged=OFF --where="(user='%oktauserid%' AND type='Solid' AND name='70PoundGoldBar') OR (user='%oktauserid%' AND type='Solid' AND name='StandardGoldBar') OR (user='%oktauserid%' AND type='Solid' AND name='Startup') OR (user='%oktauserid%' AND type='Solid' AND name='Startup_Metric') OR (user='%oktauserid%' AND type='Solid' AND name='USPS_MachinableParcels') OR (user='%oktauserid%' AND type='Solid' AND name='USPS_MaxVolume')" > designtypes/Solid/load.sql

mysqldump --user=%user% --password=%password% --host=%host% %database% design --complete-insert --no-create-info --compact --no-tablespaces --set-gtid-purged=OFF --where="(user='%oktauserid%' AND type='Spring/Compression' AND name='Demo') OR (user='%oktauserid%' AND type='Spring/Compression' AND name='HotWound') OR (user='%oktauserid%' AND type='Spring/Compression' AND name='HotWoundMetric') OR (user='%oktauserid%' AND type='Spring/Compression' AND name='Startup') OR (user='%oktauserid%' AND type='Spring/Compression' AND name='Startup_Metric')" > designtypes/Spring/Compression/load.sql

mysqldump --user=%user% --password=%password% --host=%host% %database% design --complete-insert --no-create-info --compact --no-tablespaces --set-gtid-purged=OFF --where="(user='%oktauserid%' AND type='Spring/Extension' AND name='Startup') OR (user='%oktauserid%' AND type='Spring/Extension' AND name='Startup_Metric')" > designtypes/Spring/Extension/load.sql

mysqldump --user=%user% --password=%password% --host=%host% %database% design --complete-insert --no-create-info --compact --no-tablespaces --set-gtid-purged=OFF --where="(user='%oktauserid%' AND type='Spring/Torsion' AND name='Startup') OR (user='%oktauserid%' AND type='Spring/Torsion' AND name='Startup_Metric')" > designtypes/Spring/Torsion/load.sql
