# BEWARE! This empties the design table of all designs with a NULL user.

# Production
user="@@@ PUT DATABASE USER HERE @@@"
password="@@@ PUT DATABASE PASSWORD HERE @@@"
host="@@@ PUT DATABASE HOST HERE @@@"
database="@@@ PUT DATABASE NAME HERE @@@"
# Staging
# Test
# Development

mysql --user=$user --password=$password --host=$host << EOF
  use $database;
  DELETE FROM `design` WHERE `user` = NULL;
  source ./designtypes/Piston-Cylinder/load.sql;
  source ./designtypes/Solid/load.sql;
  source ./designtypes/Spring/Compression/load.sql;
  source ./designtypes/Spring/Extension/load.sql;
  source ./designtypes/Spring/Torsion/load.sql;
EOF