REM BEWARE! This empties the design table of all designs with a NULL user.

REM Production
SET user="@@@ PUT DATABASE USER HERE @@@"
SET password="@@@ PUT DATABASE PASSWORD HERE @@@"
SET host="@@@ PUT DATABASE HOST HERE @@@"
SET database="@@@ PUT DATABASE NAME HERE @@@"
REM Staging
REM Test
REM Development

@echo off
(
  ECHO use %database%; 
  ECHO DELETE FROM design WHERE user IS NULL;
  ECHO source ./designtypes/Piston-Cylinder/load.sql;
  ECHO source ./designtypes/Solid/load.sql;
  ECHO source ./designtypes/Spring/Compression/load.sql;
  ECHO source ./designtypes/Spring/Extension/load.sql;
  ECHO source ./designtypes/Spring/Torsion/load.sql;
) > load_all.txt
mysql --user=%user% --password=%password% --host=%host% < load_all.txt
DEL load_all.txt
